{% extends "dark/base.html" %}

 {% block title %}
    Формации
 {% endblock %}   
 
{% block content %}
    <h4 style="border-bottom: medium solid darkgrey;" class="text-center">{{title_page}}</h4>   
{% for el in bands %}
    <div class="stream-post borderwindow" style="width: auto; ">
        <div class="sp-author"> 
            <a href="#" class="sp-author-avatar">
                <img src="" alt="">
            </a>
        </div>
        <div class="sp-content">
            <h3>
                <p class="sp-paragraph mb-0">
                    <a href="{% url 'info' el.slug %}">({{el.name}})</a>
                </p>
            </h3>
        </div>
    </div><br>

    <style>
        .infoblock {
            display: inline-block;
            max-height: 30%;
            overflow: hidden;
        }    
    </style>
{% endfor %}
{% endblock %}

